$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

body {
  color: $color-white;
  background: $color-orange-light;
  background: linear-gradient(
    to top,
    $color-orange-dark,
    $color-yellow,
    $color-orange-light
  );
  margin: 0;
  padding: 0;
  font-family: 'Pixel', sans-serif;
  min-height: 100vh;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 10px 40px;
  row-gap: 60px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-red;
    color: $color-white;
    border: none;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;

    &:disabled {
      background-color: $color-gray-light;
      color: $color-gray-medium;
      cursor: not-allowed;
    }
  }

  #page-info {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-red;
    color: $color-white;
    border: none;
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
  }

  .no-pokemon-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .pokeball-icon {
    width: 50px;
    height: 50px;
  }

  .bulbasaur-img {
    width: 200px;
    margin-top: 20px;
  }
}

.filterContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.resetButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff3333;
  }
}
