$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(50vh + 100px);

  .ball {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 20px;
    animation: spin 1s infinite linear;
  }
  .image {
    width: 100px;
  }

  .loadingText {
    font-size: 24px;
    font-weight: bold;
    color: #cf3044;
    text-align: center;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
