$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 64px;
  font-weight: 200;
  background: $color-red;
  color: $color-white;
  text-shadow: 2px 2px $color-black;
  box-shadow: 0 4px 8px $color-shadow;
  margin-bottom: 20px;

  @media (max-width: 650px) {
    font-size: 25px;
    flex-direction: column;
    padding: 10px;
  }

  .caughtCount {
    justify-self: flex-end;
    font-size: 1.5rem;
    background: rgba($color-white, 0.2);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  .tabs {
    display: flex;
    @media (max-width: 650px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
    background-color: $color-white;
    color: $color-red;
    text-shadow: 1px 1px $color-red-dark;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $color-orange-light;
      color: $color-white;
    }

    &.active {
      font-weight: bold;
      background-color: $color-white;
      color: $color-orange-light;
      text-shadow: 1px 1px $color-orange-dark;
      border: 1px solid $color-orange-light;
    }

    @media (max-width: 650px) {
      font-size: 18px;
      margin-bottom: 10px;
      // width: 100%;
      text-align: center;
    }
  }
}
