.container {
  text-align: center;
  margin-top: 50px;
}

.image {
  width: 700px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.message {
  font-size: 18px;
  color: #666;
}
