$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

.pokemonDetails {
  display: flex;
  justify-content: center;
  padding: 20px;

  .pokemonContainer {
    background-color: $color-white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px $color-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
  }

  .pokemonImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .pokemonName {
    font-size: 24px;
    font-weight: bold;
    color: $color-red;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-shadow: 1px 1px $color-black;
  }

  .pokemonId {
    font-size: 18px;
    color: $color-gray-medium;
    margin-bottom: 20px;
  }

  .pokemonStatus {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;

    div {
      font-weight: bold;
      color: $color-gray-medium;
      margin-bottom: 10px;
    }

    .statusText {
      background-color: $color-orange-dark;
      color: $color-white;
      padding: 10px 15px;
      border-radius: 10px;
      display: inline-block;
      font-size: 16px;
    }
  }

  .pokemonAbilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;

    div {
      font-weight: bold;
      color: $color-gray-medium;
      margin-bottom: 10px;
    }

    .abilitiesContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    .ability {
      background-color: $color-orange-light;
      color: $color-black;
      border: 1px solid $color-orange-dark;
      padding: 10px 15px;
      border-radius: 10px;
      margin: 5px;
      display: inline-block;
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  .catchDate {
    font-size: 16px;
    color: $color-gray-medium;
    margin-bottom: 20px;
  }

  .backButton {
    position: absolute;
    left: 10px;
    top: 125px;
    width: 50px;
    height: 50px;
    background-color: $color-red;
    color: $color-white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: darken($color-red, 10%);
    }

    &:active {
      transform: translateY(2px);
    }

    &::before {
      content: '←';
      font-size: 24px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
