$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f2f2f2;
$color-gray-medium: rgba(148, 152, 155, 0.5);
$color-red: #cf3044;
$color-red-dark: #a72b3c;
$color-orange-light: #ffb347;
$color-orange-dark: #e78f3c;
$color-yellow: #ffcc33;
$color-shadow: rgba(0, 0, 0, 0.2);

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 48px;
    color: $color-red;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    color: $color-gray-medium;
    margin-bottom: 40px;
  }

  img {
    width: 550px;
  }

  .backButton {
    width: 200px;
    height: 50px;
    background-color: $color-red;
    color: $color-white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $color-orange-light;
      color: $color-black;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
